<h3>Deja inscrit ?</h3>
<form method="post" action="/user/auth">
    <input type="text" name="name" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit">Login</button>
</form>
<h3>Autres ?</h3>
<button>Gestion des utilisateurs</button>