<form method="post" action="">
    <label>Introduire votre nom utilisateur:</label>
    <input type="text" name="name" placeholder="username" />
    <label>Introduire votre mot de passe:</label>
    <input type="password" name="password" placeholder="password" />
    <button type="submit">Ajout utilisateur</button>
</form>